@black: #1F1F1E;
@red: #BC3324;
@grey: #dedede;
@white: #fff;
@gray_dark: #bfbfbf;
@red_dark: #a51505;

@font1: "Open Sans",sans-serif;
@font2: "Lora",serif;
@font3: "mak",serif;

@bw320: ~"(max-width: 319px)"; 
   @bw370: ~"(max-width: 370px)";
   @bw400: ~"(max-width: 399px)";
   @bw500: ~"(max-width: 499px)";
   @bw600: ~"(max-width: 599px)";
   @bw650: ~"(max-width: 649px)";
   @w650: ~"(min-width: 650px)";
   @bw700: ~"(max-width: 699px)";
   @bw768: ~"(max-width: 767px)"; 
   @bw960: ~"(max-width: 959px)";
   @bw1020: ~"(max-width: 1019px)";
   @bw1340: ~"(max-width: 1339px)"; 
   @w1020: ~"(min-width: 1020px)";

   @w1340: ~"(max-width: 1340px)";
   @bw1660: ~"(max-width: 1659px)";
   @w1660: ~"(min-width: 1660px)";
   @w600: ~"(min-width: 600px)";

   @full-hd: ~"(min-width: 1920px)";